.hp1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.hp11{
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
    
}

.hp11>img{
    height: 60%;
    width: 25%;
    margin: auto;
}

.hp11>p{
    width: 20%;
    margin: auto;
    
}
